<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="smtp" value="cd.smtp.com"/>
    <add key="share" value="\\cdserver.com\share\"/>
    <add key="UserCount" value="2"/>
    <add key="clrk_code" value="10"/>
    <add key="takeAway" value="Takeaway No."/>
    <add key ="fonsizeSmall" value ="10"/>
    <add key="fontsizeLarge" value="11"/>
    <add key="isWithPrinterName" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="MSSql" connectionString="Data Source=DESKTOP-JECQN47;Initial Catalog=sample_db_POS;Integrated Security=True;"/>
  </connectionStrings>
</configuration>